<div class="wrapper">
    <div class="header">

        <div class="router-wrap">
            <router-outlet></router-outlet>
        </div>

        <div class="toggle-wrap">
            <app-degrees-toggle [isCelsius]="isCelsius$ | async" (toggleDegrees)="toggleDegrees($event)">
            </app-degrees-toggle>
        </div>

    </div>

    <app-weather-details [weather]="weather$ | async" [loading]="loading$ | async" [error]="error$ | async"
        [isCelsius]="isCelsius$ | async"></app-weather-details>
</div>