

.wrapper{
    // border: 3px solid orange;
    width: 920px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
}

.header {
    display: flex;
    .router-wrap{
        // border: 1px solid red;
        width: 80%;
        padding: 20px;
    }
    
    .toggle-wrap{
        // border: 1px solid green;
        width: 20%;
        display: flex;
        justify-content: flex-end;
    }
}

@media(max-width: 940px) {
    .wrapper{
        width: 620px;
    }
}

@media(max-width: 650px) {
    .wrapper{
        width: 400px;
    }
}

@media(max-width: 400px) {
    .wrapper{
        width: 100%;
        .header{
            flex-direction: column-reverse;
            align-items: center;
            .router-wrap{
                width: auto;
            }
            .toggle-wrap{
                width: 100%;
            }
        }
    }
}

