body{
    background: blue;
}

.header {
    display: flex;
    .router-wrap{
        border: 1px solid red;
        width: 80%;
    }
    
    .toggle-wrap{
        border: 1px solid green;
        width: 20%;
        display: flex;
        justify-content: flex-end;
    }
}